NEXTCLOUD_DB_HOST=mysql
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
NEXTCLOUD_PORT=8000
NEXTCLOUD_PHP_MEMORY_LIMIT=40960M
NEXTCLOUD_PHP_UPLOAD_LIMIT=40960M